<style>

#previous_event {
                 border-radius:5px;
                 background:#fff;
                 color:saddlebrown;
                 width:300px;
                 padding:5px;}
                 
#current_event {border-radius:5px;
                background:#fff;
                color:saddlebrown;
                width:300px;
                padding:5px;
                float:right;
                margin-right:-570px;
                margin-top:-150px;}                 
</style>


<!--<h4><%= link_to "View All Events", events_path %></h4>-->

 <h2 style = "color:blue">Next Meet on <%= time_tag Event.last.event_date %> @<%= Event.last.event_time %> AM</h2>


<div id="maps">
<%= gmaps({"map_options" => {"auto_zoom" => false, "zoom" => 10, :raw => '{ disableDefaultUI: true, scrollwheel: false }'  }, :markers => {:data => @json, :options => { :raw => '{ animation: google.maps.Animation.BOUNCE }' } }}) %>
<br><br>
</div>
<h1><u> Old Events </u></h1>
<% @home.each do |e| %>
  <li><%= e.name %> ..<%= link_to 'more', e %></li>
<% end %>
<hr style ="color:orange">

